body{
    background-color: #a6def5;
}
#title{
    text-align: center;
}
h1,h3{font-family: Arial, Helvetica, sans-serif;}
.toggleON{
    background-color:lightgreen;
    border: none;
    padding: 0px 0px;
}
.toggleOFF{
    background-color:lightcoral;
    border: none;
    padding: 0px 0px;
}
img{
    width: 50px;
    height: 50px;
    
}
.row{
    text-align: center;
}
#buttons{
    margin: auto;
    width: 95%;
    border: 3px solid black;
    border-radius: 25px;
    padding: 10px;
    background-color:#51c4f1;
}
#gridButtons{
    text-align: center;
}
.gridButton{
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 10px;
    
}
.north{background-color: #AEC6CF;}
.south{background-color: #d8d6be;}

