body{
    background-color: #d8d8d8;
    margin: 0;
    /* VERY Important, always shows scrollbar, so page 
    doesn't resize when it is added */
    overflow-y: scroll;
}
/* ---NAVBAR--- */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.left {
    float: left;
}
.right {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

/* ---BODY--- */
h1,h3,a{font-family: Arial, Helvetica, sans-serif;}
.toggleON{
    background-color:lightgreen;
    border: none;
    padding: 0px 0px;
}
.toggleOFF{
    background-color:lightcoral;
    border: none;
    padding: 0px 0px;
}
img{
    width: 90%;
    height: auto;
    
}
#buttons{
    margin: auto;
    width: 85%;
    border: none;
    border-radius: 25px;
    padding: 20px;
    background-color:#333;
}
#gridButtons{
    text-align: center;
}
.gridButton{
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 10px;
    
}
.north{background-color: #dceff7;}
.south{background-color: #d8cbbe;}
.chart_div {
    width:45%;
    text-align: center;
    display:inline-block;
    margin: 0 auto;
    
}
.big_graphs{
    text-align: center;
    margin: 0 auto;
    width:95%;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}
#allCharts{
    text-align: center;
}

/* .chart_section{
    text-align: center;
    align-items: center;
    justify-content: center;
} */

/* .row{
    text-align: center;
    display: block;
    
} */
