.toggleON{
    background-color:lightgreen;
    border: none;
    padding: 0px 0px;
}
.toggleOFF{
    background-color:lightcoral;
    border: none;
    padding: 0px 0px;
}
img{
    width: 50px;
    height: 50px;
    
}
.row{
    text-align: center;
}
#buttons{
    margin: auto;
    width: 90%;
    border: 3px solid black;
    padding: 10px;
    background-color:black;
}

